[submodule "themes/hugo-minimalist-theme"]
    path = themes/hugo-minimalist-theme
    url = git://github.com/digitalcraftsman/hugo-minimalist-theme.git
[submodule "themes/hugo-tranquilpeak-theme"]
    path = themes/hugo-tranquilpeak-theme
    url = git://github.com/kakawait/hugo-tranquilpeak-theme.git
