/* Background */ .chroma { color: #e5e5e5; background-color: #000000 }
/* Error */ .chroma .ss4 { color: #ff0000 }
/* LineHighlight */ .chroma .hl { background-color: #ffffcc; display: block; width: 100% }
/* LineNumbers */ .chroma .ln { ; margin-right: 0.4em; padding: 0 0.4em 0 0.4em; }
/* Keyword */ .chroma .s3e8 { color: #ffffff; font-weight: bold }
/* NameAttribute */ .chroma .s7d1 { color: #007f7f }
/* NameTag */ .chroma .s7e2 { font-weight: bold }
/* NameVariable */ .chroma .s7e3 { font-weight: bold }
/* LiteralDate */ .chroma .sbb9 { color: #ffff00; font-weight: bold }
/* LiteralString */ .chroma .sc1c { color: #00ffff; font-weight: bold }
/* LiteralNumber */ .chroma .sc80 { color: #ffff00; font-weight: bold }
/* Comment */ .chroma .s1770 { color: #007f7f }
/* CommentPreproc */ .chroma .s17d4 { color: #00ff00; font-weight: bold }
/* GenericHeading */ .chroma .s1b5c { font-weight: bold }
/* GenericStrong */ .chroma .s1b60 { font-weight: bold }
/* GenericSubheading */ .chroma .s1b61 { font-weight: bold }
/* GenericUnderline */ .chroma .s1b63 {  }
